.Logo {
    height: 50px;
}

#Nav-bar {
    background-color: #fdfffc;
    height: 60px;
    border-top: none;
}

.link-box {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

.Link-Nav {
    text-decoration: none;
}

@media (max-width: 991px) {
  .navbar-collapse {
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
}



/* signUP form css code  */

.container-box {
    background-color: #e2e2df;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.container-iner {
    height: 65vh;
    width: 50vh;
    margin-top: 15vh;

    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ced4da;
    border-radius: 10px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.heading {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;

}

form input {
    width: 300px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ced4da;
    margin-top: 1.2rem;
    padding: 0.6rem;
    color: black;
}

form button {
    width: 300px;
    background-color: blue;
    margin-top: 1.5rem;
}

/* signUp form css code */

/* Footer code */

.container-foot {
    background-color: #EBEBEB;
    height: 100%;
    text-align: center;
    padding: 2rem;
    margin-top: 50px;
}

.container-foot p {
    margin-top: 1.5rem;
}

.Link-foot {
    margin-top: 1.5rem;
}

.Link-foot-1 {
    text-decoration: none;
    color: black;
}

/* HOME PAGE */

.container {
    padding: 10px;
}

.first-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-row img {
    height: 200px;

}

@media (max-width: 560px) {
    .first-row img {
        height: 100px;
    }
}